h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: 0px solid;
}

img {
  display: block;
}
