$hero-light-bgc: #ffb8ca;
$hero-dark-bgc: #ffa5ba;
$main-bgc: #ffffff;
$second-bgc: #fff5f6;
$green-bgc: #c2e297;
$coffee-bgc: #f0d1a5;
$menu-bgc: #e17992;

$main-text: #ffffff;
$second-text: #000000;
$transparent-text: #907e82;
$red-text: #d41443;
$pink-text: #ffa5ba;
