<section class="about">
  <div class="container">
    <div class="about__title-block">
      <span class="about__pre-title">tradition and love</span>
      <h2 class="about__title">how it’s made?</h2>
    </div>
    <div class="about__main-block">
      <img class="about__image" srcset="" src="../images/" alt="the cow and milk" />
      <p class="about__main-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="about__btn">Read more</button>
    </div>
    <!-- <ul class="ingredients__list">
      <li class="ingredients__item">
        <img class="ingredients__item-image" alt="how the icecream is made" />
        <p class="ingredients__item-count">721</p>
        <p class="ingredients__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="ingredients__item">
        <img class="ingredients__item-image" alt="how the icecream is made" />
        <p class="ingredients__item-count">16kg</p>
        <p class="ingredients__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="ingredients__item">
        <img class="ingredients__item-image" alt="how the icecream is made" />
        <p class="ingredients__item-count">84</p>
        <p class="ingredients__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul> -->
  </div>
</section>
