<section class="about" id="about">
  <div class="container">
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__block">
      <div class="about__image-wrap">
        <img class="about__image"
          loading="lazy"
          srcset="
          ./images/cowmob.webp 280w, 
          ./images/cowmobx2.webp 560w,
          ./images/cowtab.webp 340w, 
          ./images/cowtabx2.webp 680w,
          ./images/cowdesk.webp 516w, 
          ./images/cowdeskx2.webp 1032w
          "
          srcset="
          ./images/cowmob.png 280w, 
          ./images/cowmobx2.png 560w,
          ./images/cowtab.png 340w, 
          ./images/cowtabx2.png 680,
          ./images/cowdesk.png 516w, 
          ./images/cowdeskx2.png 1032w
          "
          sizes="(min-width: 1200px) 516px, (min-width: 768px) 340px, (min-width: 320px) 280px"
          src="./images/cowtab.png" 
          alt="the cow and milk">
      </div>
      <div class="about__text-block">
        <p class="about__main-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.<br>                 </br>     
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__btn"data-modal-open>
          <span>Read more</span>
          <svg class="btn__icon" width="5px" height="8px">
            <use href="./../images/icons.svg#icon-pointer"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>




<div class="about__backdrop is-hidden" data-modal>
<div class="about__menu">

  <button class="about__btn about__menu-btn" data-modal-close>
          <span>To the site</span>
          <svg class="btn__icon" width="5px" height="8px">
            <use href="../images/icons.svg#icon-pointer"></use>
          </svg>
        </button>

<ul class="about-menu__list">
  
 
  <li class="about-menu__item">
    <div class="overdiv">
    <h3 class="about-menu__name">First priority</h3>
    <img class="overimg" src="./../images/cow1.jpg" alt="the cow and grass"/>
    
     
       <p class="about-overlay__text text1">
    First of all, we follow all the rules for keeping our cows.
    This is a priority criterion for the quality of our products.
    </p>
      </div>



  </li>
  
  

  <li class="about-menu__item reverse">

  
       <div class="overdiv">

       <p class="about-overlay__text text2">
Technical and technological perfection must be at the highest level. We do not spare funds for maintaining the technologies that we have and for the research that will be carried out in the future
</p>
 <img  class="overimg" src="./../images/milkqual.jpg" alt="high quality"/>
 <h3 class="about-menu__name">Good quality</h3>
  </div>
  



  </li>



  <li class="about-menu__item">
     <div class="overdiv">
    <h3 class="about-menu__name">Follow traditions</h3>
     <img  class="overimg" src="./../images/traditions.jpg" alt="traditions"/>
    
    
     <p class="about-overlay__text text3">
We follow our traditions and the traditions of our partners, some of which date back to the end of the 19th century
</p>
   </div>

 

  </li>
</ul>
 
<p class="about__main-text about__menu-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.

Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
Aliquam erat volutpat. Aenean accumsan.
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
  First of all, we follow all the rules for keeping our cows.
    This is a priority criterion for the quality of our products.
    Reiciendis necessitatibus eligendi ex delectus, quidem illo dolor eum consectetur odit eos nam repellendus, beatae amet fugit accusamus, in saepe? Sequi, quia.
        Technical and technological perfection must be at the highest level. We do not spare funds for maintaining the technologies that we have and for the research that will be carried out in the future
      We follow our traditions and the traditions of our partners, some of which date back to the end of the 19th century
    </p>
 
        
</div>
</div>
<script src="./js/about.js"></script>