<section class="about">
  
    
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
   
    
     
      <div class="about__block">
      <div class="about__image">
         <img class="about__image"
          srcset=".././images/cowmob.png 1x, 
          .././images/cowmobx2.png 2x
          .././images/cowtab.png 1x, 
          .././images/cowmtabx2.png 2x
          .././images/cowdesk.png 1x, 
          .././images/cowdeskx2.png 2x"
        sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px, (min-width: 320px) 171px" 
        src=".././images/cowmob.png" alt="the cow and milk">
      />
      </div>
      <div class="about__text-block">
      <p class="about__main-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.<br>                 </br>     
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <button class="about__btn"><span>Read more</span>
          <svg class="btn__icon" width="5px" height="8px">
              <use href="../images/icons.svg#icon-pointer"></use>
          </svg>
      </button>
      </div>
     </div>
    </div>
    <!-- <ul class="ingredients__list">
      <li class="ingredients__item">
        <img class="ingredients__item-image" alt="how the icecream is made" />
        <p class="ingredients__item-count">721</p>
        <p class="ingredients__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="ingredients__item">
        <img class="ingredients__item-image" alt="how the icecream is made" />
        <p class="ingredients__item-count">16kg</p>
        <p class="ingredients__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="ingredients__item">
        <img class="ingredients__item-image" alt="how the icecream is made" />
        <p class="ingredients__item-count">84</p>
        <p class="ingredients__item-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul> -->
  </div>
</section>
