
    <section class="advantages">
        <div class="container">
    <ul class="advantages-list list">
    
    <li>
        <img src="./images/" alt="ice-cream-1" class="" width="50" height="50">
        <img src="./images/" alt="721"class="" width="98" height="56">
        <p class="advantages-list__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>


     <li>
        <img src="./images/" alt="ice-cream-2"class="" width="50" height="50">
        <img src="./images/" alt="16kg"class=""  width="98" height="56">
        <p class="advantages-list__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li>
        <img src="./images/" alt="ice-cream-3"class="" width="50" height="50">
        <img src="./images/" alt="84"class="" width="98" height="56">
        <p class="advantages-list__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p
            ></li>
</ul>
</div>
</section>
