<section class="locations">
  <div class="container">
    <h2 class="locations-header visually-hidden">OUR LOCATIONS</h2>
    <ul class="locations--list">
      <li class="locations__item">
        <div class="location__type-wrapper">
          <span class="location__name">CAFE</span>    
          <span class="location__city">Chicago</span>
        </div>
        <p class="location__descripion">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="location__work-wrapper">
          <li class="location__work">
            <p class="location__work-days">Monday - Friday</p>
            <p class="location__work--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__work">
            <p class="location__work-days">Saturday - Sunday</p>
            <p class="location__work--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="location__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="location__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="locations__item">
        <div class="location__type-wrapper">
          <span class="location__name location__name--green">FOODTRUCK</span>    
          <span class="location__city">Los Angeles</span>
        </div>
        <p class="location__descripion">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="location__work-wrapper">
          <li class="location__work">
            <p class="location__work-days">Monday - Friday</p>
            <p class="location__work--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__work">
            <p class="location__work-days">Saturday - Sunday</p>
            <p class="location__work--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="location__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="location__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
      <li class="locations__item">
        <div class="location__type-wrapper">
          <span class="location__name">CAFE</span>    
          <span class="location__city">New York</span>
        </div>
        <p class="location__descripion">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="location__work-wrapper">
          <li class="location__work">
            <p class="location__work-days">Monday - Friday</p>
            <p class="location__work--time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="location__work">
            <p class="location__work-days">Saturday - Sunday</p>
            <p class="location__work--time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <a class="location__link link" href="tel:+610383766284">+61(0) 383 766 284</a>
        <a class="location__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <div class="location__buttoms">
      <button class="btn btn--alt">Our Locations</button>
      <button class="btn btn--regular">Our Franchise</button>
    </div>
</div>
</section>