<section class="customer-reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="comment swiper-slide">
          <img
            class="comment__img"
            loading="lazy"
            srcset="./images\testimonials1.jpg 85w, ./images\testimonials1-2x.jpg 170w"
            sizes="85px"
            src="./images\testimonials1.jpg"
            alt="woman-1"
          />
          <div class="comment__wrap">
            <div class="comment__case">
              <p class="comment__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="comment__name">Emily, Los Angeles</h3>
        </li>
        <li class="comment swiper-slide">
          <img
            class="comment__img"
            loading="lazy"
            srcset="./images\testimonials2.jpg 85w, ./images\testimonials2-2x.jpg 170w"
            sizes="85px"
            src="./images\testimonials2.jpg"
            alt="woman-2"
          />
          <div class="comment__wrap">
            <div class="comment__case">
              <p class="comment__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="comment__name">Emily, Los Angeles</h3>
        </li>
        <li class="comment swiper-slide">
          <img
            class="comment__img"
            loading="lazy"
            srcset="./images\testimonials3.jpg 85w, ./images\testimonials3-2x.jpg 170w"
            sizes="85px"
            src="./images\testimonials3.jpg"
            alt="woman-3"
          />
          <div class="comment__wrap">
            <div class="comment__case">
              <p class="comment__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="comment__name">Emily, Los Angeles</h3>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
