<section class="customer-reviews">
  <div class="container">
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="comment swiper-slide">
          <img class="comment__img" src="./images\testimonials1.jpg" alt="" />
          <p class="comment__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <h3 class="comment__name">Emily, Los Angeles</h3>
        </li>
        <li class="comment swiper-slide">
          <img class="comment__img" src="./images\testimonials2.jpg" alt="" />
          <p class="comment__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <h3 class="comment__name">Emily, Los Angeles</h3>
        </li>
        <li class="comment swiper-slide">
          <img class="comment__img" src="./images\testimonials3.jpg" alt="" />
          <p class="comment__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <h3 class="comment__name">Emily, Los Angeles</h3>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
