<footer class="footer">
  <div class="footer-line">
    <div class="container footer__block">
      <div class="wrap-title">
        <p class="footer-title">homemade ice cream made</p>
        <p class="footer-title__aсcent">with passion</p>
      </div>
      <div class="wrap-social">
        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="/" target="_blank" aria-label="Link to GitHub">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="/" target="_blank" aria-label="Link to Telegram">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="/" target="_blank" aria-label="Link to Facebook">
              <svg class="social__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <address class="address-footer">
          <p class="addres-text">Feel free to contact</p>
          <a href="tel:+610383766284" class="addres__link"> +61 (0) 383 766 284</a>
        </address>
      </div>
    </div>
  </div>
  <div class="container wrap-copyright">
    <p class="copyright">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
