<header class="header">
  <div class="container header__container">
    <nav class="navigation">
      <a href="#" class="logo">
        <img
          srcset="./images/logo.png 1x, ./images/logo-2x.png 2x"
          src="./images/logo.png"
          width="199"
          alt="Company logo"
          class="logo__pic"
        />
      </a>
      <button
        class="mobile-menu-toggler mobile-menu-toggler--relative"
        type="button"
        data-menu-button
      >
        <svg width="20" height="20">
          <use href="./images/icons.svg#icon-Burger" class="mobile-menu-open-icon"></use>
          <!-- <use href="./images/icons.svg#icon-close" class="mobile-menu-close-icon"></use> -->
        </svg>
      </button>
      <div class="mobile-menu" data-menu>
        <button
          class="mobile-menu-toggler mobile-menu-toggler--fixed"
          type="button"
          data-menu-button-close
        >
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-close" class="mobile-menu-close-icon"></use>
          </svg>
        </button>
        <div class="mobile-menu__btn-wrapper">
          <button class="mobile-menu__btn btn btn--regular" type="button" data-mobile-menu-button>
            <span>Buy now</span>
            <svg class="btn__icon" width="12" height="10">
              <use href="./images/icons.svg#icon-pointer"></use>
            </svg>
          </button>
        </div>
        <ul class="menu">
          <li class="menu__elem">
            <a href="#" class="menu__link curr-bar" header-link>Home</a>
          </li>
          <li class="menu__elem">
            <a href="#about" class="menu__link" header-link>About us</a>
          </li>
          <li class="menu__elem">
            <a href="#about" class="menu__link" header-link>How it’s made?</a>
          </li>
          <li class="menu__elem">
            <a href="#products" class="menu__link" header-link>Our products</a>
          </li>
          <li class="menu__elem">
            <a href="#contacts" class="menu__link" header-link>Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="header__btn btn btn--regular" type="button" data-header-button>
      <span>Buy now</span>
      <svg class="btn__icon" width="12" height="10">
        <use href="./images/icons.svg#icon-pointer"></use>
      </svg>
    </button>
  </div>
</header>
<div class="backdrop backdrop--transition is-hidden" backdrop>
  <div class="grand-modal backdrop--transition is-hidden" data-grand-modal>
    <button
      class="grand-modal__btn-close grand-modal__btn-close--transition"
      type="button"
      data-grand-modal-button-close
    >
      <svg width="20" height="20">
        <use href="./images/icons.svg#icon-close" class="grand-modal-close-icon"></use>
      </svg>
    </button>
    <form class="buy-form">
      <h2 class="buy-form__header">Leave us your contacts!</h2>
      <div class="grand-modal__field">
        <label for="grand-modal__name" class="grand-modal__label">Full Name</label
        ><input
          type="text"
          class="grand-modal__input grand-modal--transition"
          name="grand-modal__name"
        />
      </div>
      <div class="grand-modal__field">
        <label for="grand-modal__mail" class="grand-modal__label">E-mail</label
        ><input
          type="text"
          class="grand-modal__input grand-modal--transition"
          name="grand-modal__mail"
        />
      </div>
      <div class="grand-modal__field">
        <label for="grand-modal__tel" class="grand-modal__label">Phone Number</label
        ><input
          type="text"
          class="grand-modal__input grand-modal--transition"
          name="grand-modal__tel"
        />
      </div>
      <div class="grand-modal__field">
        <label for="grand-modal__comment" class="grand-modal__label">Order</label>
        <textarea
          name="grand-modal__comment"
          id=""
          cols="20"
          rows="5"
          class="grand-modal__comment grand-modal--transition"
          style="resize: none"
        ></textarea>
      </div>
      <div class="grand-modal__check-wrapper">
        <input
          style="display: none"
          type="checkbox"
          id="privacy"
          name="privacy"
          class="grand-modal__privacy-check"
        />
        <label for="privacy" class="grand-modal__privacy-label">
          <svg width="16" height="16">
            <use href="./images/icons.svg#icon-checkbox" class="check-box"></use>
            <use href="./images/icons.svg#icon-tick" class="check-icon"></use>
          </svg>
          <p class="grand-modal__privacy-text">
            I accept <a href="" class="grand-modal__privacy-link">Terms and Conditions</a>
          </p>
        </label>
      </div>
      <div class="grand-modal__button-wrapper">
        <button type="submit" class="btn btn--regular grand-modal__submit">Submit</button>
      </div>
    </form>
  </div>
</div>
