<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__main-content">
      <div class="hero__text-block">
        <h1 class="hero__header">ice cream made with <span>passion</span></h1>
        <ul class="small-menu">
          <li class="small-menu__elem">
            <a href="#products" class="small-menu__link small-menu__link--colored">Products</a>
          </li>
          <li class="small-menu__elem">
            <a href="#about" class="small-menu__link small-menu__link--uncolored">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="hero__circle hero__circle--big"></div>
      <img
        class="circle__icon"
        srcset="
          ./images/ice-mob.png          171w,
          ./images/ice-mob-2x.png       342w,
          ./images/ice-cream-tab.png    143w,
          ./images/ice-cream-tab-2x.png 286w,
          ./images/ice-cream.png        236w,
          ./images/ice-cream-2x.png     472w
        "
        sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px, (min-width: 320px) 171px"
        src="./images/ice-mob.png"
        alt="Big Ice Cream"
      />
    </div>
    <div class="hero__other-content">
      <div class="some-textblock hero__some-textblock">
        <p class="some-textblock__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <div class="hidden-text">
          <button
            class="some-textblock__btn some-textblock__btn--transition"
            type="button"
            data-hidden-text-toggler
          >
            <img class="some-textblock__icon" src="./images/arrow-right.png" alt="Arrow Button" />
          </button>
          <p class="hidden-text__paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </div>
      </div>
      <ul class="indicators">
        <li class="indicator">
          <span>16</span>
          <p>cafes</p>
        </li>
        <li class="indicator">
          <span>23</span>
          <p>food trucks</p>
        </li>
      </ul>
      <img
        class="milk-img"
        srcset="
          ./images/hero-milk-tab.png    124w,
          ./images/hero-milk-tab@2x.png 248w,
          ./images/hero-milk.png        188w,
          ./images/hero-milk@2x.png     376w
        "
        sizes="(min-width: 1200px) 188px, 124px"
        src="./images/hero-milk-tab.png"
        alt="Carafe of Milk"
      />
      <img
        class="tasty-img"
        srcset="
          ./images/girl-tab.png    168w,
          ./images/girl-tab-2x.png 336w,
          ./images/girl.png        293w,
          ./images/girl-2x.png     586w
        "
        sizes="(min-width: 1200px) 293px, 168px"
        src="./images/girl-tab.png"
        alt="A Person eats Ice Cream and says So tasty!"
      />
    </div>
  </div>
</section>
