<section class="products">
  <p class="products__text">100% natural</p>
  <h2 class="products__title">products</h2>

  <ul class="products-list">
    <li class="products-list__item">
      <h3 class="products-list__title">ice cream</h3>
      <span class="products-list__three-dots"></span>
      <p class="products-list__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>

      <button class="products-list__btn" type="button">
        <svg class="products-list__svg" width="20" height="20">
          <use href="../images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
    <li class="products-list__item">
      <h3 class="products-list__title">ice coffee</h3>
      <span class="products-list__three-dots"></span>
      <p class="products-list__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>

      <button class="products-list__btn" type="button">
        <svg>
          <use href="../images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
    <li class="products-list__item">
      <h3 class="products-list__title">milkshakes</h3>
      <span class="products-list__three-dots"></span>
      <p class="products-list__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>

      <button class="products-list__btn" type="button">
        <svg>
          <use href="../images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
