// *{
//   outline: 1px solid teal;
// }

.about {
  padding-top: 125px;
  background-color: #fff5f6;

  @include mobile {
    background-image: url(/images/mobmilk.png);
    background-image: -webkit-image-set(url(/images/mobmilk.webp));
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 0px bottom 60px;
  }

  @include tablet { 
    padding-top: 130px;
  }

  @include desktop {
    padding-top: 125px;

    background-image: url(/images/milkdesk.png);
    background-image: -webkit-image-set(url(/images/milkdesk.webp));
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 0px bottom 0px;
  }
}

.about__pre-title {
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;

  @include tablet {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @include desktop {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.about__title {
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #d41443;
  max-width: 200px;
  margin: 0 auto;

  @include tablet {
    max-width: 100%;

    font-size: 48px;
    line-height: calc(55 / 48);
  }

  @include desktop {
    font-size: 58px;
    line-height: calc(66 / 58);
    letter-spacing: 0.06em;
  }
}

.about__block {
  position: relative;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about__text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;

  @include tablet {
    
    margin-left: 17px;
    margin-top: 100px;
  }

  @include desktop {
    margin-left: 71px;
    margin-top: 106px;
  }
}

.about__image {
  width: 280px;
  height: 279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    width: 340px;
    height: 339px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
  }

  @include desktop {
    width: 516px;
    height: 516px;
    margin-top: 55px;
    &:hover {
      transform: rotate(5deg);
    }
  }
}

.about__main-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  margin-bottom: 25px;
  

  @include mobile {

    width: calc(100% - 60px);

  }

  @include tablet {
    font-size: 14px;
    line-height: 1.76;
    width: 340px;
    text-align: left;
  }

  @include desktop {
    letter-spacing: 0.04em;
    font-size: 16px;
    width: 463px;
    margin-bottom: 35px;
  }
}

.about__text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  position: relative;
  

  @include mobile {
    width: calc(100% - 60px);
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.76;
    width: 340px;
    height: 155px;
  }

  @include desktop {
    width: 463px;
    line-height: 1.94;
  }
}

.about__btn {
  @extend .btn;
  @extend .btn--regular;
  margin-bottom: auto;
  margin-top: 17px;
  margin-right: 44px;
margin-right: auto;
  width: 176px;
  height: 44px;

  & > span {
    margin-right: 12px;
  }

  @include tablet {
    margin-top: 62px;
    margin-right: auto;
  }

  @include desktop {
    margin-top: 45px;
  }
}

.btn__icon {
  width: 12px;
  height: 10px;
  stroke: $red-text;
}

// !!!!!!!!!modal!!!!!!!!!

.about__backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}


.about__menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 80vh;
    padding: 20px;
  background-color: #ffa5ba;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  border-radius: 10px;
  
  @include tablet{
    max-width: 420px;
  }

 @include desktop{
   max-width: 100%;
   padding: 20px;
   overflow: hidden;
     background-color: #fff5f6;

 }

}

.about__menu-btn{
margin: 40px auto;

  @include desktop {
    background-color: #ffa5ba;
    position: absolute;
    margin: 20px 0px;
  top: 20px;
  right: 20px;
  transform: translate(-20%);
  }
}

.about__menu-text{
  width: 100%;
  padding: 10px;
  font-weight: 500;
  text-align: center;
   font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

@media screen and (max-width:767px) {
  max-width: 480px;
}

  @include tablet{

  }

  @include desktop{
    visibility: hidden;
  }
}


 
.about-menu__list{
  display: none;


  @include desktop{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  
  }
}

.about-menu__name{
  display: inline-block;
  min-height: 25px;
  margin: 20px;
// max-width: 50%;
  text-align: center;
  color: #ffa5ba;
  font-size: 35px;
.about-menu__item:hover &{
    font-family: 'Titan One', cursive;
}
  
}



.about-menu__item{
  display: none;

@include desktop{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: auto;
 max-height: 100%;
 width: calc(100% / 3 - 10px);

 &:not(:last-child){
   margin-right: 10px;
 }
 
  &:hover, &:focus{
    .about-menu__name{
   color: #d41443;
 }

.text1{
  color: goldenrod;
}
.text2{
  color: firebrick;
}
.text3{
  color: steelblue;
}
  
  }
}

}
.reverse{
  margin-top: 0;
  margin-bottom: auto;
}


.overdiv{
  display: flex;
  flex-direction: column-reverse;
  margin: auto;

  }

.about-overlay__text{
  padding: 10px;
margin-top: auto;
margin-bottom: auto;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  line-height: 1.56;
letter-spacing: 0.03em;

.about-menu__item:hover &{
  font-size: 19px;
 font-weight: 700;
}
}

.overimg{
width: 100%;
}

