.about {
  padding-top: 125px;
  background-color: #fff5f6;

  @include mobile {
    background-image: url(/images/milkdesk.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 0px bottom 60px;
  }

  @include tablet {
    padding-top: 130px;
  }

  @include desktop {
    padding-top: 125px;

    background-image: url(/images/milkdesk.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 0px bottom 0px;
  }
}

.about__pre-title {
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: calc(21 / 18);
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;

  @include tablet {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @include desktop {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: calc(34 / 30);
  }
}

.about__title {
  font-family: 'Titan One', sans-serif;
  font-size: 34px;
  line-height: calc(39 / 34);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #d41443;
  max-width: 200px;
  margin: 0 auto;

  @include tablet {
    max-width: 100%;

    font-size: 48px;
    line-height: calc(55 / 48);
  }

  @include desktop {
    font-size: 58px;
    line-height: calc(66 / 58);
    letter-spacing: 0.06em;
  }
}

.about__block {
  position: relative;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about__text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;

  @include tablet {
    margin-left: 17px;
    margin-top: 100px;
  }

  @include desktop {
    margin-left: 71px;
    margin-top: 106px;
  }
}

.about__image {
  width: 280px;
  height: 279px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;

  @include tablet {
    width: 340px;
    height: 339px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
  }

  @include desktop {
    width: 516px;
    height: 516px;
    margin-top: 55px;
  }
}

.about__main-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  margin-bottom: 25px;

  @include mobile {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.76;
    width: 340px;
  }

  @include desktop {
    letter-spacing: 0.04em;
    font-size: 16px;
    width: 463px;
    margin-bottom: 35px;
  }
}

.about__text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  position: relative;

  @include mobile {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.76;
    width: 340px;
    height: 155px;
  }

  @include desktop {
    width: 463px;
    line-height: 1.94;
  }
}

.about__btn {
  @extend .btn;
  @extend .btn--regular;
  margin-bottom: auto;
  margin-top: 17px;
  margin-right: 44px;
  width: 176px;
  height: 44px;

  & > span {
    margin-right: 12px;
  }

  @include tablet {
    margin-top: 62px;
    margin-right: auto;
  }

  @include desktop {
    margin-top: 45px;
  }
}

.btn__icon {
  width: 12px;
  height: 10px;
}


.about__backdrop{
  
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(100%);
    transition-property: transform skale;
  
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.about__menu{
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    height: 80vh;
    //  background-image: url(/images/icecow.png);
     
     background-repeat: no-repeat;
     background-position: center;
     
    background-color: #fff5f6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
}
.about__menu-text{
margin-top: 15%;


}
.about__menu-btn{
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
 
.about-backdrop__list{
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  background-image: url(.././images/cowdeskx2.png);
  background-size: 30vw;
  background-repeat: no-repeat;
  
}
.about-overlay__name{
  text-align: center;
  color: #ffa5ba;
  font-size: 35px;
  margin-top: 25px;
  
}
.about-backdrop__item{

cursor: pointer;
 width: calc(100%/3);
  height: 100%;
 
  &:hover{
    .about-overlay__name{
   color: #d41443;
 }
  .about-overlay{
  opacity: 1;
 width: 100%;
 height: 80%;
 pointer-events: none;
    }
  
  }
}
.cow1{
width: 100%;
height: 100%;
 background-size: contain;
  background-position: center;
 background-image: url(/images/icecow.png);
 background-repeat: no-repeat;

 
}
.cow2{
 width: 100%;
height: 100%;
  background-size: contain;
  background-position: center;
 background-image: url(.././images/cowdeskx2.png);
 background-repeat: no-repeat;
}
.cow3{
  width: 100%;
height: 100%;
   background-size: contain;
  background-position: center;
 background-image: url(/images/icecow.png);
 background-repeat: no-repeat;
}

.about-overlay{
    width: 100%;
  height: 100%;
//   background-size: cover;
//   background-position: center;
//  background-image: url(/images/icecow.png);
//  background-repeat: no-repeat;
      position:absolute;
      pointer-events: none;

 left: 0;
 height: 100%;
 width: 100%;
padding: 63px 24px;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;

opacity: 0;
}

// .about-overlay__thumb{
//     position:absolute;
//   bottom: -100%;
//  left: 0;
//  height: 100%;
//  width: 100%;
// padding: 63px 24px;
// font-weight: 400;
// font-size: 18px;
// line-height: 1.56;
// letter-spacing: 0.03em;
// cursor: pointer;
// opacity: 0;
// }
// .about-overlay__thumb-text{
// padding: 40px;
//   // margin-top: 100%;
//   color: #d41443;
//   font-size: 24px;
// }

.start{
  color: green;
}
.then{
  color: chocolate;
}
.result{
  color: #d41443;
}