body{
  font-family: 'DM Sans', sans serif;
  
}
.container {
width: 100%;
margin-left: auto;
margin-right: auto;
padding-left: 20px;
padding-right: 20px;


@media screen and (max-width:479px){
 max-width: 479px;
}
@media screen and (min-width:480px) {
      width: 480px;
    }
    @media screen and (min-width:768px) {
      width: 740px;
    }
    @media screen and (min-width:1280px) {
      width: 1048px;
    }
}

.btn {
display: block;
font-weight: 700;
font-size: 16px;
line-height: calc(20.8/16);
text-align: center;
border-radius: 22px;
border: none; 
cursor: pointer;
}

.hero__btn{
    @extend .btn;
font-weight: 400;
font-size: 14px;
line-height: calc(18/14);
text-align: center;
border-radius: 20px;
}


.btn__regular{
  @extend .btn;
  /*----or @extend .hero__btn;----*/
  color: #D41342;
  background-color: #ffffff;
  &:hover, &:focus{
    background-color: #ECEBEB;
  }
}

.btn__alt{
  @extend .btn;
  /*----or @extend .btn__hero;----*/
  color: #ffffff;
  background-color: #D41342;
   &:hover, &:focus{
    background-color: #C7133E;
  }
}




