.container {
width: 100%;
margin-left: auto;
margin-right: auto;

@media screen and (min-width:480px) {
      width: 480px;
    }
    @media screen and (min-width:768px) {
      width: 768px;
    }
    @media screen and (min-width:1280px) {
      width: 1280px;
    }
}

.btn {
display: block;
font-weight: 700;
font-size: 16px;
line-height: calc(20.8/16);
text-align: center;
border-radius: 22px;
border: none; 
cursor: pointer;
}

.hero__btn{
    @extend .btn;
font-weight: 400;
font-size: 14px;
line-height: calc(18/14);
text-align: center;
border-radius: 20px;
}


.btn__regular{
  @extend .btn;
  /*----or @extend .hero__btn;----*/
  color: #D41342;
  background-color: #ffffff;
  &:hover, &:focus{
    background-color: #ECEBEB;
  }
}

.btn__alt{
  @extend .btn;
  /*----or @extend .btn__hero;----*/
  color: #ffffff;
  background-color: #D41342;
   &:hover, &:focus{
    background-color: #C7133E;
  }
}




/*-----fonts----- */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap" rel="stylesheet">