.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.locations {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  // background-position: 10% 10%;
  background-image: linear-gradient(
  to bottom, 
  $main-bgc 50%,
  #FFF5F6 50%,    
  );
}

.locations__item {
  width: 220px;
  height: 427px;
  padding: 43px 21px;
  background: $main-bgc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0,0.25));
  border-radius: 24px;
  margin-bottom: 20px;
}

.location__name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $main-text;
  background-color: $coffee-bgc;
  // border: 1px solid transparent;
  border-radius: 4px;
}
.location__name.location__name--green {
  width: 130px;
  background: $green-bgc;
  }


.location__city {
  margin-bottom: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $second-text;
}

.location__type-wrapper {
  display: flex;
  flex-direction: column;
}


.location__descripion {
  margin-bottom: 25px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $transparent-text;
}

.location__work-wrapper {
  height: 145px;
  width: 179px;
  border: 1px solid #E1E1E1;
  padding-top: 25px;
  padding-bottom: 25px;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
}

.location__work {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
}

.location__work-days {
  color: $second-text;
}

.location__work--time {
  color: $pink-text;
}

.location__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $transparent-text;
}

.location__buttoms {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 162px;
  height: 44px;
}