.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.locations {
  padding-top: 0px;
  margin-top: 0;
  padding-bottom: 0px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, $main-bgc 5%, #fff5f6 5%, #fff5f6 95%);
  padding-bottom: 113px;
  @include tablet {
    padding-bottom: 158px;
    background-image: linear-gradient(to bottom, $main-bgc 9%, #fff5f6 9%, #fff5f6 91%);
  }
  @include desktop {
    background-image: url(./../images/sectionbg2-1x.png),
      linear-gradient(to bottom, $main-bgc 11%, #fff5f6 11%, #fff5f6 89%);
    background-repeat: no-repeat, no-repeat;
    padding-bottom: 165px;
    background-size: contain;
    background-position: 0 20%;
  }
}

.locations--list {
  @include tablet {
    display: flex;
    justify-content: center;
    margin: -15px;
  }
  @include desktop {
    margin: -15px;
  }
}

.locations__item {
  width: 220px;
  margin: auto;
  padding: 43px 20px;
  background: $main-bgc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
  @include tablet {
    flex-basis: calc((100% - 30px) / 3);
    height: 544px;
    margin: 10px;
    padding: 50px 31px;
    margin-bottom: 0px;
  }
  @include desktop {
    flex-basis: calc((100% - 45px) / 3);
    height: 572px;
    padding: 51px 44px;
    margin: 15px;
  }
}

@include mobile {
  .locations__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.location__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $main-text;
  background-color: $coffee-bgc;
  // border: 1px solid transparent;
  border-radius: 4px;
  @include tablet {
    width: 73px;
    height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.location__name.location__name--green {
  width: 130px;
  background: $green-bgc;
  @include tablet {
    width: 138px;
  }
}

.location__city {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $second-text;
  @include tablet {
    font-size: 14px;
    margin-bottom: 14px;
  }
  @include desktop {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.location__descripion {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  color: $transparent-text;
  @include tablet {
    font-size: 14px;
    line-height: 1.66;
    margin-bottom: 30px;
  }
  @include desktop {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.location__work-wrapper {
  line-height: 1.83;
  letter-spacing: 4%;
  height: 145px;
  min-width: 179px;
  border: 1px solid #e1e1e1;
  padding-top: 25px;
  padding-bottom: 25px;
  border-left: none;
  border-right: none;
  margin-bottom: 25px;
  @include tablet {
    height: 173px;
    width: 100%;
    margin-bottom: 30px;
  }
  @include desktop {
    height: 195px;
    width: 100%;
    margin-bottom: 32px;
  }
}

.location__work {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  @include tablet {
    font-size: 14px;
    margin-bottom: 16px;
  }
  @include desktop {
    font-size: 16px;
  }
}

.location__work-days {
  color: $second-text;
}

.location__work--time {
  color: $pink-text;
}

.location__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $transparent-text;
  @include tablet {
    font-size: 14px;
  }
  @include desktop {
    font-size: 16px;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.location__buttoms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  @include tablet {
    flex-direction: row;
    justify-content: center;
    margin-top: 81px;
  }
  @include desktop {
    margin-top: 86px;
  }
}

.btn--dark {
  width: 162px;
  height: 44px;
  @include tablet {
    width: 192px;
    margin-right: 15px;
  }
  @include desktop {
    width: 198px;
  }
}

.btn--light {
  width: 162px;
  height: 44px;
  margin-top: 10px;
  @include tablet {
    width: 170px;
    margin-top: 0px;
  }
  @include desktop {
    width: 180px;
  }
}

.btn__name--dark {
  margin-right: 11px;
  @include tablet {
    margin-right: 13px;
  }
  @include desktop {
    margin-right: 14px;
  }
}

.icon__btn--dark {
  stroke: $main-text;
}

.icon__btn--light {
  stroke: $red-text;
}

/* MODAL SECTION */

.locations__backdrop {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  margin: auto;
}

.locations__modal {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 380px;
  height: 600px;
  background-color: $hero-dark-bgc;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 45px 20px;
  @include tablet {
    max-width: 450px;
  }
  @include desktop {
    overflow: hidden;
  }
}

.modal__map {
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 40px);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.locations__backdrop .modal-close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;

  width: 28px;
  height: 28px;

  background-color: transparent;
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $red-text;
  }
  transition: background-color $mobile-menu-appear-time $mobile-menu-appear-function;
}

.locations__modal-field {
  margin-bottom: 8px;
}

.input-wrap {
  position: relative;
}
.locations__modal-input {
  background-color: $main-bgc;
  border: 1px solid $mobile-menu-list-elem-border-color;
  border-radius: 6px;
  width: 100%;
  height: 30px;
  max-height: 30px;

  padding: 0 8px;
}

// .locations__modal-icon {
//   position: absolute;
//   left: 5px;
//   top: 25%;
//   transform: translateY(-25%);
// }

// .locations__modal-input:focus {
//   border-color: blue;
// }

// .locations__modal-input:focus + .locations__modal-icon {
//   fill: blue;
// }

// .locations__modal-input::placeholder {
//   color: purple;
// }

.locations__modal-title {
  font-family: 'Titan One';
  color: $red-text;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.03em;
  max-height: 21px;
  margin-bottom: 32px;
}

.locations__modal-input__text,
.textarea-title {
  font-size: 13px;
  color: $red-text;
  display: inline-block;
  margin-bottom: 4px;
}

.modal-comment {
  background-color: $main-bgc;
  border: 1px solid $mobile-menu-list-elem-border-color;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  height: 120px;
  max-height: 120px;
  padding: 2px 8px;
  resize: none;
}

.locations_modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.location__check-wrapper {
  margin-top: 20px;
}

.location__privacy-label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.location__privacy-label > svg {
  .location__privacy-check:checked + & {
    background-color: $red-text;
    border-radius: 2px;
  }
}

.location__check-box {
  .location__privacy-check:checked + .location__privacy-label > svg > & {
    fill: transparent;
  }
}

.location__check-icon {
  fill: transparent;

  .location__privacy-check:checked + .location__privacy-label > svg > & {
    fill: $main-text;
  }
}

.location__privacy-text {
  margin-left: 10px;
  font-size: 12px;
}

.location__privacy-link {
  text-decoration: underline;
  color: #002efc;
  font-size: 12px;
}
