.customer-reviews {
  padding-top: 80px;
  padding-bottom: 86px;

  @include tablet {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @include desktop {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.comment__img {
  width: 85px;
  height: 85px;
  margin: 0 auto 29px;
  border-radius: 50%;

  @include tablet {
    margin-bottom: 19px;
  }

  @include desktop {
    margin-bottom: 15px;
  }
}

.comment__wrap {
  width: 280px;
  margin: 0 auto 30px;
  padding-top: 43px;
  padding-bottom: 26px;
  background-color: #fafafa;

  position: relative;

  @include tablet {
    width: 620px;
    margin-bottom: 10px;
    padding-top: 47px;
    padding-bottom: 34px;
  }

  @include desktop {
    width: 926px;
    margin-bottom: -5px;
    padding-bottom: 39px;
  }

  &::after {
    content: url(./../images/quotes.svg);
    display: block;
    width: 54px;
    height: 40px;
    position: absolute;
    top: 28px;
    left: 61px;

    z-index: 1;

    @include tablet {
      top: 30px;
      left: 40px;
    }

    @include desktop {
      top: 32px;
      left: 50px;
    }
  }
}

.comment__case {
  width: 180px;
  margin: 0 auto;

  background: repeating-linear-gradient(
    transparent 0px,
    transparent 29px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );

  @include tablet {
    width: 524px;
  }

  @include desktop {
    width: 813px;

    background: repeating-linear-gradient(
      transparent 0px,
      transparent 28px,
      #e1e1e1 28px,
      #e1e1e1 29px
    );
  }
}

.comment__text {
  width: 157px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;

  color: #000000;

  position: relative;
  z-index: 2;

  @include tablet {
    width: 460px;

    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }

  @include desktop {
    width: 750px;

    font-size: 16px;
    line-height: 1.86;
  }
}

.comment__name::before {
  display: block;
  width: 32px;
  height: 4px;
  margin: 0 auto 35px;
  content: url(./../images/dots.svg);

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 35px;
  }
}

.comment__name {
  margin-bottom: 60px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;

  color: #000000;

  @include tablet {
    margin-bottom: 50px;

    font-size: 16px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #d9d9d9;
}

.swiper-pagination-bullet-active {
  width: 13px;
  background-color: transparent;
  background-image: url(./../images/house.svg);
  border-radius: 0%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}
