.footer {
  background: $second-bgc;
}

.footer-line {
  border-bottom: 1px solid #e1e1e1;
}

.footer__block {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.wrap-title {
  padding-bottom: 43px;
  max-width: 234px;

  @include tablet {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding-bottom: 91px;

    @include desktop {
      max-width: 100%;
      padding-bottom: 97px;
    }
  }
}

.footer-title {
  margin-bottom: 17px;

  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.15;
  text-transform: uppercase;
  color: $hero-dark-bgc;

  @include tablet {
    margin-bottom: 15px;

    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}

.footer-title__aсcent {
  font-family: 'Titan One', cursive;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $red-text;

  @include tablet {
    width: 240px;
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }

  @include desktop {
    width: 500px;
    font-size: 58px;
  }
}

.wrap-social {
  margin-bottom: 43px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @include tablet {
    justify-content: flex-start;
    margin-bottom: 0;
    min-width: 268px;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;

  @include tablet {
    display: inline-flex;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 28px;
  }
}

.social__icon {
  width: 32px;
  height: 32px;
  fill: $hero-dark-bgc;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 34px;
    height: 34px;
  }
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  border-radius: 50%;
  fill: $red-text;
}

.address-footer {
  display: flex;
  margin-left: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;

  color: $second-text;

  @include tablet {
    font-size: 14px;
    line-height: 1.86;
  }

  @include desktop {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.addres__link {
  color: $red-text;
  margin-left: 4px;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @include tablet {
    margin-left: 3px;
  }

  @include desktop {
    margin-left: 8px;
  }
}

.wrap-copyright {
  padding-top: 22px;
  padding-bottom: 25px;

  @include tablet {
    padding-top: 29px;
    padding-bottom: 18px;

    @include desktop {
      padding-top: 9px;
      padding-bottom: 10px;
    }
  }
}

.copyright {
  max-width: 140px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $transparent-text;

  @include tablet {
    max-width: 100%;
  }
}
